* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f7f8f9;
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  background-color: transparent;
}

.hero .title {
  margin-top: 20px;
}


.hero .gallery {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hero .gallery a {
  color: black;
  text-decoration: none;
}

.hero .gallery .card {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.8);
  box-shadow: 3px 3px 13px 1px rgba(0,0,0,0.8);
}

.gallery .card .card__image {
  width: 100%;
  height: 250px;
  border-radius: 25px;
}

.gallery .card .card__details {
  display: flex;
  flex-direction: column;
}

.gallery .card .card__details span {
  margin: 10px;
  font-weight: bolder;
}

.pagination {
  display: flex;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.pagination .setp-links {
  margin: 0 auto;
}

.pagination span {
  font-weight: bolder;
}

.pagination span a {
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  background-color: blue;
  border-radius: 15px;
}

.property {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 100px;
  padding-bottom: 20px;
}

.property .details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 580px);
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
  background-color: white;
}

.property .image-container {
  width: 100%;
  margin: 20px;
  margin-top: 50px;
}

.property .image-container .property__image {
  width: 100%;
  height: 500px;
}

.property .details .info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.property .info .room-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}

.property .location {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}

.property .location .location-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px black solid;
  padding-bottom: 10px;
}

.property .location .location-header a {
  text-decoration: none;
  border-radius: 35px;
  padding: 5px;
  width: 250px;
  text-align: center;
  background-color: #3378bd;
  color: white;
}

.property .location .location-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.property .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px black solid;
  line-height: 1.5;
}

.property .description h2 {
  margin: 10px 0px;
}

.property .form-container {
  width: 360px;
  height: 100%;
  position: sticky;
  top: 20px;
  left: 0px;
  box-shadow: 9px -1px 13px 0px rgba(0,0,0,0.57);
  -webkit-box-shadow: 9px -1px 13px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 9px -1px 13px 0px rgba(0,0,0,0.57);
  border-radius: 25px;
  padding: 10px;
  background-color: white;
}

.property .form-container .form {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;

}

.form-container .form input {
  width: 250px;
  margin-bottom: 15px;
}

.form-container .form .submit-button {
  width: 120px;
  height: 30px;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: #3378bd;
  color: white;
  border: none;
}
