{% extends 'base.html' %}
{% block container %}
{% load static %}
<main class="hero">
  <h1 class="title">Published Properties</h1>

  <section class="gallery">
    {% for property in page_obj %}
    <a href="{% url 'properties:detail' property.public_id %}">
      <div class="card">

	{% if property.title_image_thumb %}
	<img class="card__image" src="{{ property.title_image_thumb }}" alt="{{property.title}}">

	{% else %}
	<img class="card__image" src="{% static 'img/default-house.png' %}" alt="{{property.title}}">

	{% endif %}

	<div class="card__details">
	  <span>Public ID: {{ property.public_id}} </span>
	  <span>Title: {{property.title}} </span>
	  <span>Property type: {{property.property_type}} </span>
	  <span>Location: {{property.location}} </span>
	</div>
      </div>
    </a>
    {% endfor %}

  </section>
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
</main>

{% endblock %}
