{% extends 'base.html' %}
{% block container %}
<main class="hero">
  <h1 class="title">Published Properties</h1>

  <section class="gallery">
    <div class="card">
      <img class="card__image" src="" alt="">
      <div class="card__details">
	<span>Public ID: </span>
	<span>Title: </span>
	<span>Property type: </span>
	<span>Location: </span>
      </div>
    </div>
    <div class="card">
      <img class="card__image" src="" alt="">
      <div class="card__details">
	<span>Public ID: </span>
	<span>Title: </span>
	<span>Property type: </span>
	<span>Location: </span>
      </div>
    </div>
    <div class="card">
      <img class="card__image" src="" alt="">
      <div class="card__details">
	<span>Public ID: </span>
	<span>Title: </span>
	<span>Property type: </span>
	<span>Location: </span>
      </div>
    </div>

  </section>
</main>

{% endblock %}
