{% extends 'base.html' %}
{% block container %}
<main class="hero">
  <h1 class="title">Published Properties</h1>

  <section class="gallery">
    {% for property in properties %}
    <a href="{% url 'easybroker:detail' property.public_id %}">
      <div class="card">
	<img class="card__image" src="{{ property.title_image_thumb }}" alt="{{property.title}}">
	<div class="card__details">
	  <span>Public ID: {{ property.public_id}} </span>
	  <span>Title: {{property.title}} </span>
	  <span>Property type: {{property.property_type}} </span>
	  <span>Location: {{property.location}} </span>
	</div>
      </div>
    </a>
    {% endfor %}

  </section>
</main>

{% endblock %}
